*{
  padding: 0px;
  margin: 0px;
  font-family: monospace;
}
header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(3.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
ul{
  list-style-type: none;
  float: right;
  margin-top: 25px;
}
ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.6s;
}
ul li a:hover{
  background-color: lightgray;
  color: black;
}
ul li a.active{
  background-color: lightgray;
  color: black;
}
.main{
  margin-right: 30px;
}
.title{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-shadow: 3px 2px 3px red;
}
.title h1{
  color: #fff;
  font-size: 70px;
}
.search{
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.input{
  width: 700px;
  height: 30px;
}
.text{
  color: #fff;
  position: absolute;
  top: 95%;
  left: 85%;
  transform: translate(-5%,-85%);

}
.button{
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btn{
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
}
.btn:hover{
  background-color: lightgray;
  color: black;
}
.title2{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-shadow: 3px 2px 3px red;
}
.title2 h1{
  color: #fff;
  font-size: 70px;
}
.box{
  width: 352px;
  height: 325px;
  border: 5px solid black;
  padding: 10px;
  position: absolute;
  top: 63%;
  left: 20%;
  transform: translate(-50%,-50%);
  font-size: 120%;
  border-radius: 20px;
  font-size: 128%;
  background: linear-gradient(35deg, #ccfffc, #ffcccf);
}
.text1{
  color: #fff;
}
a.text1:hover{
  background-color: lightgray;
  color: #000;
}
.me{
  width: 260px;
  height: 260px;
  position: absolute;
  top: 43%;
  left: 280%;
  transform: translate(-50%,-50%);
  font-size: 120%;
  border: 3px solid #000;
  border-radius: 30px;
}
.me1{
  width: 26px;
  height: 26px;
  position: absolute;
  top: 88%;
  left: 265%;
  transform: translate(-50%,-50%);
}
.me2{
  width: 26px;
  height: 26px;
  position: absolute;
  top: 88%;
  left: 280%;
  transform: translate(-50%,-50%);
}
.me3{
  width: 26px;
  height: 26px;
  position: absolute;
  top: 88%;
  left: 295%;
  transform: translate(-50%,-50%);
}
.contact{
  color: #fff;
  position: absolute;
  top: 88%;
  left: 10%;
  transform: translate(-50%,-50%);
}
.me4{
  width: 26px;
  height: 26px;
  position: absolute;
  top: 93%;
  left: 6%;
  transform: translate(-50%,-50%);
}
